.top{
    margin-top: 100px;
    
    img{
        width: 66px;
        height: 66px;
    }

    h1{
        margin: 0;
        font-size: 37px;
        font-weight: 470;
        letter-spacing: 1.5px;
    }
}

h2{
    margin-top: 30px;
    margin-bottom: 0;
    font-weight: 500;
    font-size: 22px;
}

h3{
    text-align: center;
    margin-top: 10px;
    font-weight: 300;
    font-size: 20px;
    text-align: left;
    font-style: normal;
    margin-left: 20px;
}

hr{
    width: 400px;
    height: 1.5px;
    border: 0;
    background-image: linear-gradient(90deg,rgba(0, 35, 58, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 35, 58, 1) 100%);
}

p{

    margin-bottom: 0;
    margin-left: 40px;
    text-align: left;
    font-size: 20px;
    font-weight: 300;
}

input{
    border: none;
    background-color: var(--main-bg-color-lighter);
    border-radius: 20px;
    width: 325px;
    height: 40px;
}

.email-container{
    p{
        margin-top: 20px; 
        margin-left: 30px; 
    }
}

::ng-deep .otp-input{
    margin-left: 25px;
    
    .p-inputtext {
        margin-top: 10px;
        margin-left: 25px;
        background-color: var(--main-bg-color-lighter);  
        color: white;              
        border-style: hidden;
        font-weight: 500;
    }

    .p-inputtext:focus {
        border-color: white;      
        box-shadow: 0 0 0 1px white; 
    }
}



.confirm-button-container{
    ::ng-deep .p-button{
        margin-top: 30px;
        width: 325px;
        height: 55px;
        font-size: 24px;
    }   
}

.back-button-container{
    ::ng-deep .p-button{
        margin-top: 30px;
        width: 325px;
        height: 55px;
        font-size: 24px;   
        color: white;
        background: none;
        border-style: none;
    }   
}
