<!DOCTYPE html>

<html>

    <head>
        
        <title>Test</title>
        <link rel="stylesheet" href="reset-password.html">

    </head>

    <body>

        <!-- email -->
        <div *ngIf="!showOtpInterface">
            <div class="top">
                <img src="assets/skooda-logo.png">
                <h1>SKOOLINK</h1>
            </div>

            <div>
                <h2>RÉCUPÉRATION DE COMPTE</h2>
                <h3>Veuillez entrer votre adresse e-mail<br>pour recevoir votre code</h3>
                <hr>

                <div class="email-container">
                    <p>Email</p>
                    <input type="text" name="User" icon="fa-solid fa-chevron-right">
                </div>
            </div>

            <div class="confirm-button-container">
                <p-button (click)="emailSent()" label="Envoyer" size="large" icon="fa-solid fa-chevron-right" [rounded]="true" name="connect-button"></p-button>
            </div>

            <div class="back-button-container">
                <p-button routerLink="/login" label="retour" size="large" icon="fa-solid fa-arrow-left" [rounded]="true" name="connect-button"></p-button>
            </div>

        </div>

        <!-- code otp -->
        <div *ngIf="showOtpInterface">
            <div class="top">
                <img src="assets/skooda-logo.png">
                <h1>SKOOLINK</h1>
            </div>

            <div>
                <h2>RÉINITIALISATION</h2>
                <h3>Merci de saisir le code reçu sur<br>votre adresse e-mail</h3>

                <hr>

                <div class="email-container">
                    <p-inputOtp size="large" [length]="4" class="otp-input"></p-inputOtp>   
                </div>
            </div>

            <div class="confirm-button-container">
                <p-button routerLink="/new-password" (click)="validOtpPassword()" label="Verifier" size="large" icon="fa-solid fa-chevron-right" [rounded]="true" name="connect-button"></p-button>
            </div>

            <div class="back-button-container">
                <p-button (click)="showOtpInterface = false" label="retour" size="large" icon="fa-solid fa-arrow-left" [rounded]="true" name="connect-button"></p-button>
            </div>

        </div>
        
    </body>

</html>
