<div class="container">
    <div class="navwrapper">
        <div class="navbar">
            <hr>
            <div class="navbar-content">
                <div class="navbar-button-container">
                    <p-button size="large" icon="fa-solid fa-house"></p-button>
                    <p-button size="large" icon="fa-solid fa-calendar"></p-button>
                    <p-button size="large" icon="fa-solid fa-code"></p-button>
                    <p-button size="large" icon="fa-solid fa-folder"></p-button>
                    <p-button size="large" icon="fa-solid fa-message"></p-button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <i class="fa-solid fa-house" style="color: #ffffff;"></i> -->