.container{
    margin-top: 115px;
    .button-container{

        ::ng-deep .p-button{
            background-image: linear-gradient(180deg, var(--main-bg-light), var(--secondary-bg-color));
            border-radius: 20px;
            width: 375px;
            height: 140px;
            padding-left: 0;
            border: 1.25px double transparent;
        
            background-image: linear-gradient(180deg, var(--main-bg-light), var(--secondary-bg-color)), linear-gradient(90deg, var(--skooda-red-color), var(--skooda-green-color));
            background-origin: border-box;
            background-clip: padding-box, border-box;

            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);

            .content-container{
                display: flex;
                flex-direction: row;
                align-items: center;
                
                img{
                    margin-right: 15px;
                    width: 80px;
                    height: 88px;
                }

                .text-container{
                    font-family: var(--secondary-font);
                    color: white;
                    display: flex;
                    flex-direction: column;
                    text-align: left;

                    h2{
                        font-size: 20px;
                        font-weight: 200; 
                    }

                    h4{
                        color: #838E96;
                        font-size: 12px;
                        font-weight: 1;
                    }

                    .status{
                        display: flex;
                        flex-direction: row;
                        align-items: center;

                        .finishedBadge{
                            margin-bottom: 2px;
                            width: 15px;
                            height: 15px;
                            background-color: #01F9A3;
                        }

                        .ongoingBadge{
                            margin-bottom: 2px;
                            width: 15px;
                            height: 15px;
                            background-color: #FEC72A;
                        }

                        h3{
                            margin-left: 5px;
                            margin-top: 0;
                            margin-bottom: 0;
                            color:  #E6E9EA;
                            font-size: 13px;
                            font-weight: 1;                
                        }
                    }
                }
            }
        }

        hr{
            margin-top: 15px;
            margin-bottom: 15px;
            width: 322px;
            height: 1.25px;
            border: 0;
            background-image: linear-gradient(90deg,rgba(0, 35, 58, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 35, 58, 1) 100%);

        }
    }
}


