::ng-deep .p-button{
    margin-left: 15px;
    width: 58.33px;
    height: 58.33px;
    border-radius: 20px;
    background-color: white;
    border-color: black;
    border-width: 2px;
    color: white;
}