html{
  background-color: var(--main-color);
  text-align: center;
}

body{
  font-size: small;
  color: white;
}

h1{
  font-family: "Jost";
  letter-spacing: 5%;
}

h2{
  font-family: "Albert+Sans";
}

