@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css');
@import url('https://fonts.googleapis.com/css2?family=Aldrich&display=swap');

:root {
  --main-bg-color: #071C2D;
  --main-bg-light: #052640;
  --main-bg-color-lighter: #13344E;
  --secondary-bg-color: #071725;
  --skooda-green-color: #01F9A3;
  --skooda-red-color: #F81405;
  --linear-gradient-color: #175B93;
  --main-font: "Jost";
  --secondary-font: "Aldrich";
}

html{
  text-align: center;
}

body{
  background: url("/assets/background.png") ;
  background-size: contain;
  min-height: 100vh;
  font-family: var(--main-font);
  overflow: scroll;
}




