@import url('https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap');


:root {
  --p-button-primary-background: #182643;
  --yellow: #F3C40A;
  --red: #E30451;
  --green: #10b981;
  --blue: #3b82f6;
  --light-blue: #EFF4F9;
  --dark-blue: #0f0633;
}