.main-container{
    margin-top: 125px;
}

hr{
    margin-top: 20px;
    margin-bottom: 20px;
    width: 322px;
    height: 1.25px;
    border: 0;
    background-image: linear-gradient(90deg,rgba(0, 35, 58, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(0, 35, 58, 1) 100%);
}

iframe{
    border-radius: 20px;
}